/* Fonts
 ------------------------------------------------------------ */

@font-face {
    font-family: 'Nixie One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('NixieOne-Regular'), url('../fonts/Nixie_One/NixieOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: local('OpenSans-Light'), url('../fonts/Open_Sans/static/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: local('OpenSans-Regular'), url('../fonts/Open_Sans/static/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-stretch: 100%;
    font-display: swap;
    src: local('OpenSans-Medium'), url('../fonts/Open_Sans/static/OpenSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-stretch: 100%;
    font-display: swap;
    src: local('OpenSans-SemiBold'), url('../fonts/Open_Sans/static/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: local('OpenSans-Bold'), url('../fonts/Open_Sans/static/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-stretch: 100%;
    font-display: swap;
    src: local('OpenSans-ExtraBold'), url('../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf') format('truetype');
}
